*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#080808;
    color:white;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
    padding:40px 0;
}

.voltar{
    text-decoration:none;
    color:#39ff14;
    font-size:22px;
    font-weight:bold;
}

.voltar span{
    color:#ff5cb8;
}

.linha{
    height:3px;
    background:#39ff14;
    margin:25px 0;
}

.abas{
    display:flex;
    gap:25px;
    margin-bottom:40px;
}

.aba{
    flex:1;
    border:none;
    padding:18px;
    border-radius:12px;
    background:#1a1a1a;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

.aba.ativa{
    background:#39ff14;
    color:#111;
    font-weight:bold;
}

.conteudo{
    display:none;
}

.conteudo.ativa{
    display:flex;
    flex-direction:column;
    gap:25px;
}

.card-evento{
    display:flex;
    gap:25px;
    align-items:center;
    background:#121212;
    border:2px solid #39ff14;
    border-radius:20px;
    padding:20px;
}

.card-evento img{
    width:250px;
    height:140px;
    object-fit:cover;
    border-radius:12px;
}

.info{
    flex:1;
}

.info h3{
    margin-bottom:15px;
}

.info p{
    margin-bottom:10px;
    color:#d8d8d8;
}

.botoes{
    display:flex;
    gap:15px;
    margin-top:15px;
}

.btn-detalhes,
.btn-planejamento{
    border:none;
    padding:12px 20px;
    border-radius:10px;
    cursor:pointer;
    font-weight:bold;
}

.btn-detalhes{
    background:#39ff14;
    color:#111;
}

.btn-planejamento{
    background:#ff5cb8;
    color:white;
}

.acoes{
    display:flex;
    flex-direction:column;
    gap:15px;
    align-items:center;
}

.tag{
    padding:8px 15px;
    border-radius:20px;
    font-weight:bold;
}

.pago{
    background:#ff5cb8;
}

.gratis{
    background:#39ff14;
    color:#111;
}

.btn-excluir{
    width:45px;
    height:45px;
    border:none;
    border-radius:10px;
    background:#ff5cb8;
    color:white;
    cursor:pointer;
}